<a href="https://colab.research.google.com/github/SANAD343/Machine-Learning/blob/main/Python_For_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
# Check the system specifications

!cat /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed bhi
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed bhi
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

In [16]:
# Check the memory info

!cat /proc/meminfo

MemTotal:       13289424 kB
MemFree:         8933152 kB
MemAvailable:   12150584 kB
Buffers:          434092 kB
Cached:          2960620 kB
SwapCached:            0 kB
Active:           821624 kB
Inactive:        3258248 kB
Active(anon):       2100 kB
Inactive(anon):   687068 kB
Active(file):     819524 kB
Inactive(file):  2571180 kB
Unevictable:           8 kB
Mlocked:               8 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:               328 kB
Writeback:             0 kB
AnonPages:        685196 kB
Mapped:           335028 kB
Shmem:              4000 kB
KReclaimable:     135332 kB
Slab:             175308 kB
SReclaimable:     135332 kB
SUnreclaim:        39976 kB
KernelStack:        5248 kB
PageTables:        10588 kB
SecPageTables:         0 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6644712 kB
Committed_AS:    2675844 kB
VmallocTotal:   34359738367 kB
VmallocUsed:       11912 kB
VmallocChunk:          0 kB
Percpu:             1072 kB
HardwareCorrupted:     0 kB
AnonHugePages:         0 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
CmaTotal:              0 kB
CmaFree:               0 kB
Unaccepted:            0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:       64304 kB
DirectMap2M:     5175296 kB
DirectMap1G:    10485760 kB

# Commonly used language for Machine Learning -- Python

In [1]:
# Print function

print("Machine Learning")

Machine Learning

In [2]:
print("machine learning" + "Project")

machine learningProject

In [3]:
print(8)
print(8+3)

8
11

In [4]:
# Basic Data Types: int, float, str, complex, boolean

type(8) # int

int

In [5]:
type(88.3) # float

float

In [6]:
type("pyrhon") # Str

str

In [17]:
# complex numbers
c = 1 + 3j
print(c)
type(c)

(1+3j)

complex

In [7]:
# Constant & variables

indian_super_hero = "Hanuman"
print(indian_super_hero)

Hanuman

In [8]:
marvel_super_hero = "Captain America"
print(marvel_super_hero)

Captain America

In [9]:
hero1 , hero2 , hero3 = "Iron Man" , "Captain America" , "Bat Man"
print(hero1)
print(hero2)
print(hero3)

Iron Man
Captain America
Bat Man

In [10]:
# Assign same value to different values

x = y = z = 23
print(x)
print(y)
print(z)

23
23
23

In [11]:
# input Function

num1=int(input("enter the first number"))
num2=int(input("enter the second number"))

sum = num1  + num2

print(sum)

enter the first number2
enter the second number54
56

In [12]:
# changing the data type in python:
num = 5
print(float(num))

5.0

In [22]:
x = 10
print(x)
type(x)

10

int

In [23]:
y = float(x)
print(y)
type(y)

10.0

float

In [20]:
# float to int
x = 5.88
print(x)
type(x)

5.88

float

In [21]:
y = int(x)
print(y)
type(y)

5

int

In [24]:
# Boolean - True. False

a = True
print(a)
type(a)

True

bool

In [25]:
b = False
print(b)
type(b)

False

bool

In [26]:
a=7<3
print(a)
type(a)

False

bool

In [27]:
a=10>3
print(a)
type(a)

True

bool

# String

In [28]:
print("Machine Learning")

Machine Learning

In [29]:
my_string = "Machine Learning"
print(my_string)
type(my_string)

Machine Learning

str

In [32]:
print("Machine Learning" * 5)

Machine LearningMachine LearningMachine LearningMachine LearningMachine Learning

# Slicing

In [33]:
my_string = "Programming"

# get values from index 1 to 5-1 will be sliced

print(my_string[1:5])

rogr

In [34]:
# Perform the stepping

print(my_string[0:10:2])

Pormi

In [35]:
# String Concatenation

word1 = "machine"
word2 = "Learning"

In [36]:
print(word1 + word2)

machineLearning

Types of Objects in Python:
1. Immutable Objects
2. Mutable Objects

Immutable Objects:
1. int
2. float
3. string
4. bool
5. tuple

Mutable Objects:
1. List
2. Set
3. Dictionary

In [37]:
# # list should be included in the square brackets
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [38]:
# lists can have multiple data types
my_list = [2, 3, 1.8, 'English', True]
print(my_list)

[2, 3, 1.8, 'English', True]

Lists are Mutable --> Changeable

In [39]:
# add elements to a list
my_list = [2, 3, 1.8, 'English', True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [40]:
# print elements of a list using their index
print(my_list[0])
print(my_list[2])

2
1.8

In [41]:
# lists allow duplicate values
list_1 = [1,2,3,4,5,12,2,3]
print(list_1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [42]:
print(len(list_1))

8

In [43]:
# initiating an empty list
list_2 = []
print(list_2)

[]

In [44]:
# append the list with 5

list_2.append(5)
print(list_2)

[5]

In [46]:
# delete an item in a list at particular index number
list_2 = [2, 3, 1.8, 'English', True, 6]
print(list_2)

[2, 3, 1.8, 'English', True, 6]

In [47]:
del list_2[2]
print(list_2)

[2, 3, 'English', True, 6]

In [48]:
# join two lists
list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,10]

In [49]:
list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Tuple

In [50]:
tuple_1 = (2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [51]:
# tuple allows multiple data types
tuple_2 = (1,2,3.5, 'Machine Learning', False)
print(tuple_2)

(1, 2, 3.5, 'Machine Learning', False)

In [52]:
# converting  a list to a tuple

my_list = [3,4,5,6]
print(my_list)

[3, 4, 5, 6]

In [53]:
my_tuple = tuple(my_list)
print(my_tuple)

(3, 4, 5, 6)

In [54]:
# Indexing & Slicing

print(my_tuple[0])
print(my_tuple[1])

3
4

In [55]:
print(my_tuple[0:4])

(3, 4, 5, 6)

Tuples are immutable --> Unchangeable

In [56]:
my_tuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [57]:
print(len(my_tuple))

4

# Set

In [58]:
# set --> Curly brackets
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [59]:
print(my_set[0]) # Not Allowed

TypeError: 'set' object is not subscriptable

In [60]:
# convert a list to a set

list_5 = [4,5,6,7,8]

x = set(list_5)
print(x)

{4, 5, 6, 7, 8}

In [61]:
# set does not allow duplicate values
set_3 = {1,2,3,4,5,1,2,3}
print(set_3)

{1, 2, 3, 4, 5}

Dictionary - Key Value Pair

In [62]:
my_dictionary = {'name':'David','age':30,'country':'India'}
print(my_dictionary)
type(my_dictionary)

{'name': 'David', 'age': 30, 'country': 'India'}

dict

In [63]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

David
30
India

In [64]:
# dictionary does not allow duplicate values
dictionary_2 = {'name':'David','age':30,'country':'India','name':'David','age':30,'country':'India'}
print(dictionary_2)

{'name': 'David', 'age': 30, 'country': 'India'}

Operators in Python:
1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

In [65]:
# 1. Arithmetic Operators

num_1 = 5
num_2 = 6

# addition
sum = num_1 + num_2
print('sum = ',sum)

# subtraction
diff = num_1 - num_2
print('difference = ',diff)

# multiplication
pro = num_1 * num_2
print('product = ',pro)

# division
quo = num_1 / num_2
print('quotient = ',quo)

# exponent
exp = num_1**num_2   # 20^10
print('exponent = ',exp)

# modulus
mod = num_1 % num_2
print('reminder = ',mod)

sum =  11
difference =  -1
product =  30
quotient =  0.8333333333333334
exponent =  15625
reminder =  5

In [66]:
# 2. Assignment Operators

'2. Assignment Operators\n+=\n\n-=\n\n*=\n\n**=\n\n/=\n\n%='

In [67]:
a = 5
print(a)

5

In [68]:
a = 5
a += 5   # a = a + 5
print(a)

10

In [69]:
b = 5
b -= 2   # b = b-2
print(b)

3

In [70]:
# 3. Comparison Operators

a = 5
b = 10

print(a == b)   # equal to
print(a != b)   # not equal to
print(a > b)    # greater than
print(a < b)    # less than
print(a <= b)   # less than or equal to
print(a >= b)   # greater than or equal to

False
True
False
True
True
False

In [71]:
# 4. Logical Operators - and, or, not

a = 10

print( a>20 and a>5)
print( a>20 or a>5)
print( not( a>8 and a>5))

False
True
False

In [72]:
# 5. Identity Operators: is, is not

x = 5
y = 5

print(x is y)

True

In [73]:
x = 5
y = 10

print(x is y)

False

In [74]:
x = 5
y = 5

print(x is not y)

False

In [75]:
x = 5
y = 10

print(x is not y)

True

In [76]:
# 6. Membership Operator -- in, not in

a=5
b=10
c=[1,2,3,4,5]

print(a in c)
print(b in c)

True
False

In [77]:
a=5
b=10
c=[1,2,3,4,5, 10]

print(a in c)
print(b in c)

True
True

In [78]:
a = 5
b =10

c = [1,2,3,4,5]
print( a not in c)
print( b not in c)

False
True

## Simple If else statement

In [79]:
a=30
b=50

if (a>b):
  print('a is the greatest number')
else:
  print('b is the greatest number')

b is the greatest number

In [80]:
a = int(input('Enter the first number : '))
b = int(input('Enter the second number : '))

if (a>b):
  print('First number is the greatest')
else:
  print('Second number is the greatest')

Enter the first number : 30
Enter the second number : 90
Second number is the greatest

In [81]:
a = int(input('Enter the first number : '))
b = int(input('Enter the second number : '))

if (a>b):
  print('First number is the greatest')
else:
  print('Second number is the greatest')

Enter the first number : 88
Enter the second number : 1
First number is the greatest

## If elif else statement

In [82]:
a = 15
b = 25
c = 30

if (b<a>c):
  print('a is the greatest number')
elif (a<b>c):
  print('b is the greatest number')
else:
  print('c is the greatest number')

c is the greatest number

# Nested if Statement

In [83]:
a = 20
b = 40
c = 60

if (a>b):
  if (a>c):
    print('a is the greatest number')
  else:
    print('c is the greatest number')
else:
  if (b>c):
    print('b is the greatest number')
  else:
    print('c is the greatest number')

c is the greatest number

In [84]:
a = 20
b = 410
c = 60

if (a>b):
  if (a>c):
    print('a is the greatest number')
  else:
    print('c is the greatest number')
else:
  if (b>c):
    print('b is the greatest number')
  else:
    print('c is the greatest number')

b is the greatest number

In [86]:
a = 200
b = 4
c = 60

if (a>b):
  if (a>c):
    print('a is the greatest number')
  else:
    print('c is the greatest number')
else:
  if (b>c):
    print('b is the greatest number')
  else:
    print('c is the greatest number')

a is the greatest number

# For Loop

In [87]:
lap1 = int(input('Enter the price of the laptop : '))
lap2 = int(input('Enter the price of the laptop : '))
lap3 = int(input('Enter the price of the laptop : '))
lap4 = int(input('Enter the price of the laptop : '))
lap5 = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 2000
Enter the price of the laptop : 1000
Enter the price of the laptop : 300
Enter the price of the laptop : 12
Enter the price of the laptop : 156

In [88]:
# User intput

for i in range(7):    # 0,1,2,3,4,5,6
  lap_price = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 5
Enter the price of the laptop : 6
Enter the price of the laptop : 4
Enter the price of the laptop : 8
Enter the price of the laptop : 6
Enter the price of the laptop : 7
Enter the price of the laptop : 8

In [89]:
numbers = [50, 100, 150, 200]

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

In [90]:
numbers = [50, 100, 150, 200]

for i in numbers:
  print(i)

50
100
150
200

While Loop

while condition:

statement

In [91]:
i = 0
while i<10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9

In [92]:
i = 5

while i<3:
  print(i)
  i +=1

In [93]:
i = 5

while i<10:
  print(i)
  i +=1

5
6
7
8
9

## Functions:

# Function is a block of code that can be reused in a Program

In [94]:
# Find the Factorial of a Number -  Factorial of a number is the product of all the positive integers less than or equal to the given number

# Factorial of 5 = 5 x 4 x 3 x 2 x 1 = 120

In [99]:
# find the factorial of user's number

number = int(input(' Enter a number to find its factorial : '))

factorial = 1

if number == 0:
  print(' The Factorial of 0 is 1')

else:
  for i in range(1, number+1):
    factorial = factorial*i
  print('The factorial of ',number,' is',factorial)

 Enter a number to find its factorial : 5
The factorial of  5  is 120

# Factoraial Function

In [100]:
def factorial_value(num):

  factorial = 1

  if num == 0:
    return factorial

  else:
    for i in range(1, num+1):
      factorial = factorial*i
    return factorial

In [101]:
print(factorial_value(5))

120